@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --background: 168 43% 100%;
      --foreground: 168 62% 1%;
      --muted: 168 30% 95%;
      --muted-foreground: 168 14% 39%;
      --popover: 168 43% 100%;
      --popover-foreground: 168 62% 1%;
      --card: 168 43% 100%;
      --card-foreground: 168 62% 1%;
      --border: 168 10% 91%;
      --input: 168 10% 91%;
      --primary: 168 72% 33%;
      --primary-foreground: 0 0% 100%;
      --secondary: 168 13% 85%;
      --secondary-foreground: 168 13% 25%;
      --accent: 168 13% 85%;
      --accent-foreground: 168 13% 25%;
      --destructive: 16 88% 26%;
      --destructive-foreground: 16 88% 86%;
      --ring: 168 72% 33%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 168 42% 1%;
      --foreground: 168 36% 98%;
      --muted: 168 30% 5%;
      --muted-foreground: 168 14% 61%;
      --popover: 168 42% 1%;
      --popover-foreground: 168 36% 98%;
      --card: 168 42% 1%;
      --card-foreground: 168 36% 98%;
      --border: 168 10% 15%;
      --input: 168 10% 15%;
      --primary: 168 72% 33%;
      --primary-foreground: 0 0% 100%;
      --secondary: 168 5% 12%;
      --secondary-foreground: 168 5% 72%;
      --accent: 168 5% 12%;
      --accent-foreground: 168 5% 72%;
      --destructive: 16 88% 55%;
      --destructive-foreground: 0 0% 0%;
      --ring: 168 72% 33%;
    }
  }
  


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

* {
  word-break: keep-all;
}

@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RixInooAriDuriR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-KBO-Dia-Gothic_bold {
  font-family: 'KBO-Dia-Gothic_bold';
}

.font-SUITE-Regular {
  font-family: 'SUITE-Regular';
}

.font-TheJamsil5Bold {
  font-family: 'TheJamsil5Bold';
}

.font-RixInooAriDuriR {
  font-family: 'RixInooAriDuriR';
}
